
        header {
            border-bottom: 4px solid #D3D3D3;
            background-color: rgb(255, 255, 255);
            min-width: 320px;
            max-width: 800px; 
            margin: auto;
          }
          header > .container {
            display: flex;
            align-items: baseline;
            max-width: 900px;
            min-width: 320px;
            margin: 0 auto;
            padding-top: 1rem;
            transition: all 0.2s ease;
            justify-content: space-between;
          }
          
          header > .container > .nav-brand {
            margin-right: auto;
          }
          header > .container > .social-button {
            margin-left: auto;
          }
          .indexx{
            min-width: 320px;
            max-width: 800px; 
            margin: auto;
          }
          footer{
            min-width: 320px;
            max-width: 800px; 
            margin: auto;
          }
          

